In [1]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np

In [2]:
pd.set_option('display.max_columns', 500)

In [3]:
with open ("../../pass.txt", "r") as myfile:
    uname, password = myfile.read().splitlines()

In [4]:
driver = 'mssql+pymssql'
username = 'SAVVYSHERPA\\'+uname
hostname = 'devsql10'
port = 1433
database = 'pdb_IMPACT'

In [5]:
db_impact = create_engine('%s://%s:%s@%s:%d/%s' %(driver, username, password, hostname, port, database))

In [6]:
db_impact.table_names()

['_Commercial_IpClaims',
 'Commercial_DrClaims',
 'Commercial_Members',
 'Commercial_OpClaims',
 'Commercial_RxClaims',
 'DiagnosisCrossWalk',
 'ICD9_to_ICD10',
 'Medicare_DrClaims',
 'Medicare_ID',
 'Medicare_IpClaims',
 'Medicare_Members',
 'Medicare_OpClaims',
 'Medicare_RxClaims',
 'OP_Diab_Members',
 'Taxonomy',
 'XETL_Medicare_ID']

In [7]:
ip_claims = pd.read_sql("""
                            SELECT * 
                            FROM pdb_IMPACT.dbo._Commercial_IpClaims
                            WHERE (ICD_VER_CD_1 = 9 AND 
                                    (Diag_CD_1 LIKE '493%' OR Diag_CD_1 LIKE '491%' OR Diag_CD_1 LIKE '492%' 
                                        OR Diag_CD_1 LIKE '506%' OR Diag_CD_1 LIKE '494%' OR Diag_CD_1 LIKE '496%'
                                    ))
                                OR (ICD_VER_CD_2 = 9 AND 
                                    (Diag_CD_2 LIKE '493%' OR Diag_CD_2 LIKE '491%' OR Diag_CD_2 LIKE '492%' 
                                        OR Diag_CD_2 LIKE '506%' OR Diag_CD_2 LIKE '494%' OR Diag_CD_2 LIKE '496%'
                                    ))
                                OR (ICD_VER_CD_3 = 9 AND 
                                    (Diag_CD_3 LIKE '493%' OR Diag_CD_3 LIKE '491%' OR Diag_CD_3 LIKE '492%' 
                                        OR Diag_CD_3 LIKE '506%' OR Diag_CD_3 LIKE '494%' OR Diag_CD_3 LIKE '496%'
                                    ))
                                OR (ICD_VER_CD_1 = 0 AND
                                    (Diag_CD_1 LIKE 'J45%' OR Diag_CD_1 LIKE 'J40%' OR Diag_CD_1 LIKE 'J41%'
                                        OR Diag_CD_1 LIKE 'J42%' OR Diag_CD_1 LIKE 'J43%' OR Diag_CD_1 LIKE 'J44%'
                                        OR Diag_CD_1 LIKE 'J47%'
                                    ))
                                OR (ICD_VER_CD_2 = 0 AND
                                    (Diag_CD_2 LIKE 'J45%' OR Diag_CD_2 LIKE 'J40%' OR Diag_CD_2 LIKE 'J41%'
                                        OR Diag_CD_2 LIKE 'J42%' OR Diag_CD_2 LIKE 'J43%' OR Diag_CD_2 LIKE 'J44%'
                                        OR Diag_CD_2 LIKE 'J47%'
                                    ))
                                OR (ICD_VER_CD_3 = 0 AND
                                    (Diag_CD_3 LIKE 'J45%' OR Diag_CD_3 LIKE 'J40%' OR Diag_CD_3 LIKE 'J41%'
                                        OR Diag_CD_3 LIKE 'J42%' OR Diag_CD_3 LIKE 'J43%' OR Diag_CD_3 LIKE 'J44%'
                                        OR Diag_CD_3 LIKE 'J47%'
                                    ))
                                OR (PROC_TYP_CD like 'CPT-4' AND 
                                    (PROC_CD IN ('94010', '94060', '94640', '94664', '94760', '94761', '94644', '94645', 
                                                '94002', '94726', '94727', '94728', '94729', '94669', '94780', '94781')
                                    ))
                        """, db_impact)
ip_claims.head()

,RandomMbrID,FULL_DT,NPI,TaxonomyCd,Diag_CD_1,Diag_Desc_1,ICD_VER_CD_1,Diag_CD_2,Diag_Desc_2,ICD_VER_CD_2,Diag_CD_3,Diag_Desc_3,ICD_VER_CD_3,PROC_CD,PROC_DESC,PROC_TYP_CD,DRG_CD,DRG_DESC,Bil_Typ_Cd,RVNU_CD,RVNU_DESC,RVNU_CATGY_TXT,RVNU_GRP_TXT,Admit_Cnt,Day_Cnt,Allw_Amt
0,1001287,2015-04-01,1366994584,282NC2000X,49392,ASTHMA UNSPECIFIED W/EXACERBATION ...,9,27800,OBESITY UNSPECIFIED ...,9,,NO DIAGNOSIS CODE ...,9,,UNKNOWN PROCEDURE ...,UNKN,00203,BRONCHITIS & ASTHMA WO CC/MCC,111,0450,EMERGENCY ROOM-GENERAL ...,ANCILLARY,EMERGENCY ROOM ...,0,0,0.00
1,1001287,2015-04-01,1366994584,282NC2000X,49392,ASTHMA UNSPECIFIED W/EXACERBATION ...,9,27800,OBESITY UNSPECIFIED ...,9,,NO DIAGNOSIS CODE ...,9,,UNKNOWN PROCEDURE ...,UNKN,00203,BRONCHITIS & ASTHMA WO CC/MCC,111,0250,PHARMACY-GENERAL ...,ANCILLARY,PHARMACY ...,0,0,0.00
2,1001287,2015-04-01,1366994584,282NC2000X,49392,ASTHMA UNSPECIFIED W/EXACERBATION ...,9,27800,OBESITY UNSPECIFIED ...,9,,NO DIAGNOSIS CODE ...,9,,UNKNOWN PROCEDURE ...,UNKN,00203,BRONCHITIS & ASTHMA WO CC/MCC,111,0123,ROOM & BOARD-SEMIPRIVATE (TWO-BEDS)-PEDIATRIC ...,ACCOMMODATIONS,ROOM & BOARD - SEMI PRIVATE ...,1,1,6224.13
3,1001287,2015-04-01,1366994584,282NC2000X,49392,ASTHMA UNSPECIFIED W/EXACERBATION ...,9,27800,OBESITY UNSPECIFIED ...,9,,NO DIAGNOSIS CODE ...,9,,UNKNOWN PROCEDURE ...,UNKN,00203,BRONCHITIS & ASTHMA WO CC/MCC,111,0270,MEDICAL/SURGICAL SUPPLIES AND DEVICES-GENERAL ...,ANCILLARY,MEDICAL/SURGICAL SUPPLIES ...,0,0,0.00
4,1001287,2015-04-01,1366994584,282NC2000X,49392,ASTHMA UNSPECIFIED W/EXACERBATION ...,9,27800,OBESITY UNSPECIFIED ...,9,,NO DIAGNOSIS CODE ...,9,,UNKNOWN PROCEDURE ...,UNKN,00203,BRONCHITIS & ASTHMA WO CC/MCC,111,0324,RADIOLOGY - DIAGNOSTIC - CHEST X-RAY ...,ANCILLARY,RADIOLOGY - DIAGNOSTIC ...,0,0,0.00

In [8]:
len(ip_claims)

30011

In [9]:
pul_members = set(ip_claims.RandomMbrID.values)

In [10]:
len(pul_members)

1122

In [11]:
op_claims = pd.read_sql("""
                            SELECT * 
                            FROM pdb_IMPACT.dbo.Commercial_OpClaims
                            WHERE (ICD_VER_CD_1 = 9 AND 
                                    (Diag_CD_1 LIKE '493%' OR Diag_CD_1 LIKE '491%' OR Diag_CD_1 LIKE '492%' 
                                        OR Diag_CD_1 LIKE '506%' OR Diag_CD_1 LIKE '494%' OR Diag_CD_1 LIKE '496%'
                                    ))
                                OR (ICD_VER_CD_2 = 9 AND 
                                    (Diag_CD_2 LIKE '493%' OR Diag_CD_2 LIKE '491%' OR Diag_CD_2 LIKE '492%' 
                                        OR Diag_CD_2 LIKE '506%' OR Diag_CD_2 LIKE '494%' OR Diag_CD_2 LIKE '496%'
                                    ))
                                OR (ICD_VER_CD_3 = 9 AND 
                                    (Diag_CD_3 LIKE '493%' OR Diag_CD_3 LIKE '491%' OR Diag_CD_3 LIKE '492%' 
                                        OR Diag_CD_3 LIKE '506%' OR Diag_CD_3 LIKE '494%' OR Diag_CD_3 LIKE '496%'
                                    ))
                                OR (ICD_VER_CD_1 = 0 AND
                                    (Diag_CD_1 LIKE 'J45%' OR Diag_CD_1 LIKE 'J40%' OR Diag_CD_1 LIKE 'J41%'
                                        OR Diag_CD_1 LIKE 'J42%' OR Diag_CD_1 LIKE 'J43%' OR Diag_CD_1 LIKE 'J44%'
                                        OR Diag_CD_1 LIKE 'J47%'
                                    ))
                                OR (ICD_VER_CD_2 = 0 AND
                                    (Diag_CD_2 LIKE 'J45%' OR Diag_CD_2 LIKE 'J40%' OR Diag_CD_2 LIKE 'J41%'
                                        OR Diag_CD_2 LIKE 'J42%' OR Diag_CD_2 LIKE 'J43%' OR Diag_CD_2 LIKE 'J44%'
                                        OR Diag_CD_2 LIKE 'J47%'
                                    ))
                                OR (ICD_VER_CD_3 = 0 AND
                                    (Diag_CD_3 LIKE 'J45%' OR Diag_CD_3 LIKE 'J40%' OR Diag_CD_3 LIKE 'J41%'
                                        OR Diag_CD_3 LIKE 'J42%' OR Diag_CD_3 LIKE 'J43%' OR Diag_CD_3 LIKE 'J44%'
                                        OR Diag_CD_3 LIKE 'J47%'
                                    ))
                                OR (PROC_TYP_CD like 'CPT-4' AND 
                                    (PROC_CD IN ('94010', '94060', '94640', '94664', '94760', '94761', '94644', '94645', 
                                                '94002', '94726', '94727', '94728', '94729', '94669', '94780', '94781')
                                    ))
                        """, db_impact)
op_claims.head()

,RandomMbrID,FULL_DT,NPI,TaxonomyCd,Diag_CD_1,Diag_Desc_1,ICD_VER_CD_1,Diag_CD_2,Diag_Desc_2,ICD_VER_CD_2,Diag_CD_3,Diag_Desc_3,ICD_VER_CD_3,PROC_CD,PROC_DESC,PROC_TYP_CD,RVNU_CD,RVNU_DESC,RVNU_CATGY_TXT,RVNU_GRP_TXT,Allw_Amt
0,1000006,2015-01-11,1558407189,193200000X,49390,ASTHMA UNSPECIFIED UNSPEC STATUS ...,9,78605,SHORTNESS OF BREATH ...,9,,NO DIAGNOSIS CODE ...,9,71020,CHEST X-RAY 2VW FRONTAL&LATL ...,CPT-4,0324,RADIOLOGY - DIAGNOSTIC - CHEST X-RAY ...,ANCILLARY,RADIOLOGY - DIAGNOSTIC ...,100.00
1,1000006,2015-01-11,1558407189,193200000X,49390,ASTHMA UNSPECIFIED UNSPEC STATUS ...,9,78605,SHORTNESS OF BREATH ...,9,,NO DIAGNOSIS CODE ...,9,99284,EMERGENCY DEPT VISIT ...,CPT-4,0450,EMERGENCY ROOM-GENERAL ...,ANCILLARY,EMERGENCY ROOM ...,742.22
2,1000006,2015-01-11,1558407189,193200000X,49390,ASTHMA UNSPECIFIED UNSPEC STATUS ...,9,78605,SHORTNESS OF BREATH ...,9,,NO DIAGNOSIS CODE ...,9,,UNKNOWN PROCEDURE ...,UNKN,0250,PHARMACY-GENERAL ...,ANCILLARY,PHARMACY ...,11.32
3,1000006,2015-10-09,1851549273,207Q00000X,L02412,CUTANEOUS ABSCESS OF LEFT AXILLA ...,0,J45909,UNSPECIFIED ASTHMA UNCOMPLICATED ...,0,L732,HIDRADENITIS SUPPURATIVA ...,0,99282,EMERGENCY DEPT VISIT ...,CPT-4,0450,EMERGENCY ROOM-GENERAL ...,ANCILLARY,EMERGENCY ROOM ...,535.00
4,1000006,2015-10-09,1851549273,207Q00000X,L02412,CUTANEOUS ABSCESS OF LEFT AXILLA ...,0,J45909,UNSPECIFIED ASTHMA UNCOMPLICATED ...,0,L732,HIDRADENITIS SUPPURATIVA ...,0,10060,DRAINAGE OF SKIN ABSCESS ...,CPT-4,0361,OPERATING ROOM SERVICES - MINOR SURGERY ...,ANCILLARY,OPERATING ROOM SERVICES ...,739.00

In [12]:
len(op_claims)

184751

In [13]:
pul_members |= set(op_claims.RandomMbrID.values)

In [14]:
len(pul_members)

23218

In [15]:
dr_claims = pd.read_sql("""
                            SELECT * 
                            FROM pdb_IMPACT.dbo.Commercial_DrClaims
                            WHERE (ICD_VER_CD_1 = 9 AND 
                                    (Diag_CD_1 LIKE '493%' OR Diag_CD_1 LIKE '491%' OR Diag_CD_1 LIKE '492%' 
                                        OR Diag_CD_1 LIKE '506%' OR Diag_CD_1 LIKE '494%' OR Diag_CD_1 LIKE '496%'
                                    ))
                                OR (ICD_VER_CD_2 = 9 AND 
                                    (Diag_CD_2 LIKE '493%' OR Diag_CD_2 LIKE '491%' OR Diag_CD_2 LIKE '492%' 
                                        OR Diag_CD_2 LIKE '506%' OR Diag_CD_2 LIKE '494%' OR Diag_CD_2 LIKE '496%'
                                    ))
                                OR (ICD_VER_CD_3 = 9 AND 
                                    (Diag_CD_3 LIKE '493%' OR Diag_CD_3 LIKE '491%' OR Diag_CD_3 LIKE '492%' 
                                        OR Diag_CD_3 LIKE '506%' OR Diag_CD_3 LIKE '494%' OR Diag_CD_3 LIKE '496%'
                                    ))
                                OR (ICD_VER_CD_1 = 0 AND
                                    (Diag_CD_1 LIKE 'J45%' OR Diag_CD_1 LIKE 'J40%' OR Diag_CD_1 LIKE 'J41%'
                                        OR Diag_CD_1 LIKE 'J42%' OR Diag_CD_1 LIKE 'J43%' OR Diag_CD_1 LIKE 'J44%'
                                        OR Diag_CD_1 LIKE 'J47%'
                                    ))
                                OR (ICD_VER_CD_2 = 0 AND
                                    (Diag_CD_2 LIKE 'J45%' OR Diag_CD_2 LIKE 'J40%' OR Diag_CD_2 LIKE 'J41%'
                                        OR Diag_CD_2 LIKE 'J42%' OR Diag_CD_2 LIKE 'J43%' OR Diag_CD_2 LIKE 'J44%'
                                        OR Diag_CD_2 LIKE 'J47%'
                                    ))
                                OR (ICD_VER_CD_3 = 0 AND
                                    (Diag_CD_3 LIKE 'J45%' OR Diag_CD_3 LIKE 'J40%' OR Diag_CD_3 LIKE 'J41%'
                                        OR Diag_CD_3 LIKE 'J42%' OR Diag_CD_3 LIKE 'J43%' OR Diag_CD_3 LIKE 'J44%'
                                        OR Diag_CD_3 LIKE 'J47%'
                                    ))
                                OR (PROC_TYP_CD like 'CPT-4' AND 
                                    (PROC_CD IN ('94010', '94060', '94640', '94664', '94760', '94761', '94644', '94645', 
                                                '94002', '94726', '94727', '94728', '94729', '94669', '94780', '94781')
                                    ))
                        """, db_impact)
dr_claims.head()

,RandomMbrID,FULL_DT,NPI,TaxonomyCd,Diag_CD_1,Diag_Desc_1,ICD_VER_CD_1,Diag_CD_2,Diag_Desc_2,ICD_VER_CD_2,Diag_CD_3,Diag_Desc_3,ICD_VER_CD_3,PROC_CD,PROC_DESC,PROC_TYP_CD,Allw_Amt
0,1001212,2016-10-05,1912998659,208000000X,J4530,MILD PERSIST ASTHMA UNCOMPLICATED ...,0,H6502,ACUTE SEROUS OTITIS MEDIA LEFT EAR ...,0,,UNKNOWN DIAGNOSIS ...,0,99214,OFFICE/OUTPATIENT VISIT EST ...,CPT-4,69.24
1,1001212,2016-11-17,1912998659,208000000X,J4531,MILD PERSIST ASTHMA W/AC EXACERBAT ...,0,,UNKNOWN DIAGNOSIS ...,0,,UNKNOWN DIAGNOSIS ...,0,99214,OFFICE/OUTPATIENT VISIT EST ...,CPT-4,69.24
2,1001212,2016-11-17,1912998659,208000000X,J4531,MILD PERSIST ASTHMA W/AC EXACERBAT ...,0,,UNKNOWN DIAGNOSIS ...,0,,UNKNOWN DIAGNOSIS ...,0,J1100,INJ DEXMETHOSON SODIM PHOSHATE 1 MG ...,HCPCS,1.44
3,1001212,2016-11-17,1912998659,208000000X,J4531,MILD PERSIST ASTHMA W/AC EXACERBAT ...,0,,UNKNOWN DIAGNOSIS ...,0,,UNKNOWN DIAGNOSIS ...,0,96372,THER/PROPH/DIAG INJ SC/IM ...,CPT-4,21.00
4,1001212,2014-05-27,1912998659,208000000X,49300,EXTRINSIC ASTHMA UNSPECIFIED ...,9,4660,ACUTE BRONCHITIS ...,9,78052,INSOMNIA UNSPECIFIED ...,9,99214,OFFICE/OUTPATIENT VISIT EST ...,CPT-4,19.24

In [16]:
len(dr_claims)

136960

In [17]:
pul_members |= set(dr_claims.RandomMbrID.values)

In [18]:
len(pul_members)

45788

In [19]:
pul_generic = ['Albuterol','Pirbuterol','Levalbuterol','Salmeterol Xinafoate','Formoterol','Arformoterol','Racemic Epinephrine',
               'Tiotropium Bromide','Ipratropium','Oxitropium Bromide','Trimcinolone','Flunisolide','Fluticasone Propionate',
               'Budesonide','Mometasone Furate','Ciclesonide','Nedocromil Sodium','N-Acetylcysteine','Dornase Alpha',
               'Atrovent and Albuterol','Omalizumab','Montelukast','Budensonide and Formoterol',
               'Salmeterol Xinafoate and Fluticasone','Albuterol sulfate','Isoetharine hydrochloride','Isoproterenol hydrochloride',
               'Levalbuterol hydrochloride','Pirbuterol acetate','Terbutaline sulfate','Ipratropium bromide',
               'Ipratropium bromide and albuterol sulfate','Montelukast sodium','Zafirlukast','Zileuton','Oxytriphylline','Theophylline',
               'Cromolyn sodium','Nedocromil sodium','Omalizumab','Salbutamol','Formoterol','Terbutaline','Indacaterol','Vilanterol',
               'Aclidinium','Tiotropium','Umeclidinum']
pul_generic = tuple([x.upper() for x in pul_generic])

In [20]:
rx_claims = pd.read_sql("""select * 
                            from pdb_IMPACT.dbo.Commercial_RxClaims
                            where GNRC_NM in {}
                            """.format(pul_generic), db_impact)
rx_claims.head()

,RandomMbrID,FULL_DT,NDC,GNRC_NM,EXT_AHFS_THRPTC_CLSS_CD,EXT_AHFS_THRPTC_CLSS_DESC,Day_Supply,Qty_Cnt,Dosage_Form,Allw_Amt
0,1005478,2016-12-05,00781555492,MONTELUKAST SODIUM,48102400,LEUKOTRIENE MODIFIERS ...,90,90.0,TAB CHEW,36.72
1,1005478,2016-07-20,00093742498,MONTELUKAST SODIUM,48102400,LEUKOTRIENE MODIFIERS ...,30,30.0,TAB CHEW,13.14
2,1005478,2016-08-30,00781555492,MONTELUKAST SODIUM,48102400,LEUKOTRIENE MODIFIERS ...,90,90.0,TAB CHEW,36.72
3,1005478,2016-06-22,00093742498,MONTELUKAST SODIUM,48102400,LEUKOTRIENE MODIFIERS ...,30,30.0,TAB CHEW,13.14
4,1005478,2016-08-29,00093742498,MONTELUKAST SODIUM,48102400,LEUKOTRIENE MODIFIERS ...,30,30.0,TAB CHEW,13.14

In [21]:
len(rx_claims)

209599

In [22]:
pul_members |= set(rx_claims.RandomMbrID.values)

In [23]:
pul_members = pd.DataFrame({'RandomMbrID':list(pul_members)})
pul_members.head()

  RandomMbrID
0     1124881
1      927781
2     1027963
3      816388
4     1033171

In [24]:
len(pul_members)

75886

In [25]:
members = pd.read_sql("""
                            SELECT RandomMbrID, Age, Gdr_Cd, Zip3 
                            FROM pdb_IMPACT.dbo.Commercial_Members 
                            WHERE MM_2014 + MM_2015 + MM_2016 = 12*3
                    """, db_impact)
members.head()

  RandomMbrID Age Gdr_Cd Zip3
0      886552  50      M  454
1      888328  35      F  453
2      886639  55      M  453
3      886621  59      F  455
4      887962  32      M  453

In [26]:
pul_members = pul_members.merge(members, on=['RandomMbrID'])
pul_members.head()

  RandomMbrID Age Gdr_Cd Zip3
0      816388  10      M  452
1       66241  16      M  430
2      183727  33      F  432
3      620941  42      F  443
4      207178  31      F  432

In [27]:
len(pul_members)

18938

In [28]:
pul_claims =  op_claims.merge(ip_claims, how='outer', on=['RandomMbrID', 'FULL_DT'])
pul_claims = pul_claims.merge(dr_claims, how='outer', on=['RandomMbrID', 'FULL_DT'], suffixes=('_x1', '_y1'))
pul_claims = pul_claims.merge(rx_claims, how='outer', on=['RandomMbrID', 'FULL_DT'], suffixes=('_x2', '_y2'))
pul_claims.head()

,RandomMbrID,FULL_DT,NPI_x,TaxonomyCd_x,Diag_CD_1_x,Diag_Desc_1_x,ICD_VER_CD_1_x,Diag_CD_2_x,Diag_Desc_2_x,ICD_VER_CD_2_x,Diag_CD_3_x,Diag_Desc_3_x,ICD_VER_CD_3_x,PROC_CD_x,PROC_DESC_x,PROC_TYP_CD_x,RVNU_CD_x,RVNU_DESC_x,RVNU_CATGY_TXT_x,RVNU_GRP_TXT_x,Allw_Amt_x,NPI_y,TaxonomyCd_y,Diag_CD_1_y,Diag_Desc_1_y,ICD_VER_CD_1_y,Diag_CD_2_y,Diag_Desc_2_y,ICD_VER_CD_2_y,Diag_CD_3_y,Diag_Desc_3_y,ICD_VER_CD_3_y,PROC_CD_y,PROC_DESC_y,PROC_TYP_CD_y,DRG_CD,DRG_DESC,Bil_Typ_Cd,RVNU_CD_y,RVNU_DESC_y,RVNU_CATGY_TXT_y,RVNU_GRP_TXT_y,Admit_Cnt,Day_Cnt,Allw_Amt_y,NPI,TaxonomyCd,Diag_CD_1,Diag_Desc_1,ICD_VER_CD_1,Diag_CD_2,Diag_Desc_2,ICD_VER_CD_2,Diag_CD_3,Diag_Desc_3,ICD_VER_CD_3,PROC_CD,PROC_DESC,PROC_TYP_CD,Allw_Amt_x2,NDC,GNRC_NM,EXT_AHFS_THRPTC_CLSS_CD,EXT_AHFS_THRPTC_CLSS_DESC,Day_Supply,Qty_Cnt,Dosage_Form,Allw_Amt_y2
0,1000006,2015-01-11,1558407189,193200000X,49390,ASTHMA UNSPECIFIED UNSPEC STATUS ...,9,78605,SHORTNESS OF BREATH ...,9,,NO DIAGNOSIS CODE ...,9,71020,CHEST X-RAY 2VW FRONTAL&LATL ...,CPT-4,0324,RADIOLOGY - DIAGNOSTIC - CHEST X-RAY ...,ANCILLARY,RADIOLOGY - DIAGNOSTIC ...,100.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000006,2015-01-11,1558407189,193200000X,49390,ASTHMA UNSPECIFIED UNSPEC STATUS ...,9,78605,SHORTNESS OF BREATH ...,9,,NO DIAGNOSIS CODE ...,9,99284,EMERGENCY DEPT VISIT ...,CPT-4,0450,EMERGENCY ROOM-GENERAL ...,ANCILLARY,EMERGENCY ROOM ...,742.22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000006,2015-01-11,1558407189,193200000X,49390,ASTHMA UNSPECIFIED UNSPEC STATUS ...,9,78605,SHORTNESS OF BREATH ...,9,,NO DIAGNOSIS CODE ...,9,,UNKNOWN PROCEDURE ...,UNKN,0250,PHARMACY-GENERAL ...,ANCILLARY,PHARMACY ...,11.32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1000006,2015-10-09,1851549273,207Q00000X,L02412,CUTANEOUS ABSCESS OF LEFT AXILLA ...,0,J45909,UNSPECIFIED ASTHMA UNCOMPLICATED ...,0,L732,HIDRADENITIS SUPPURATIVA ...,0,99282,EMERGENCY DEPT VISIT ...,CPT-4,0450,EMERGENCY ROOM-GENERAL ...,ANCILLARY,EMERGENCY ROOM ...,535.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1000006,2015-10-09,1851549273,207Q00000X,L02412,CUTANEOUS ABSCESS OF LEFT AXILLA ...,0,J45909,UNSPECIFIED ASTHMA UNCOMPLICATED ...,0,L732,HIDRADENITIS SUPPURATIVA ...,0,10060,DRAINAGE OF SKIN ABSCESS ...,CPT-4,0361,OPERATING ROOM SERVICES - MINOR SURGERY ...,ANCILLARY,OPERATING ROOM SERVICES ...,739.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
pul_claims = pul_claims[['RandomMbrID', 'FULL_DT'] + [i for i in pul_claims.columns if 'Allw_Amt' in i]]
pul_claims.head()

  RandomMbrID     FULL_DT  Allw_Amt_x  Allw_Amt_y  Allw_Amt_x2  Allw_Amt_y2
0     1000006  2015-01-11      100.00         NaN          NaN          NaN
1     1000006  2015-01-11      742.22         NaN          NaN          NaN
2     1000006  2015-01-11       11.32         NaN          NaN          NaN
3     1000006  2015-10-09      535.00         NaN          NaN          NaN
4     1000006  2015-10-09      739.00         NaN          NaN          NaN

In [30]:
pul_claims['FULL_DT'] = pd.to_datetime(pul_claims['FULL_DT'])
pul_claims['Year'] = pul_claims.FULL_DT.dt.year
pul_claims['Month'] = pul_claims.FULL_DT.dt.month
member_claims = pul_claims.merge(members, on='RandomMbrID', how='inner')
member_claims['Allw_Amt'] = member_claims[[i for i in pul_claims.columns if 'Allw_Amt' in i]].sum(axis=1)
member_claims.drop([i for i in pul_claims.columns if 'Allw_Amt' in i], axis=1, inplace=True)
member_claims = member_claims.groupby(['RandomMbrID', 'Age', 'Gdr_Cd', 'Zip3', 'FULL_DT', 'Year', 'Month'], as_index=False).sum()
member_claims.head()

  RandomMbrID Age Gdr_Cd Zip3    FULL_DT  Year  Month  Allw_Amt
0     1000006  36      F  452 2015-01-11  2015      1    853.54
1     1000006  36      F  452 2015-03-17  2015      3    145.27
2     1000006  36      F  452 2015-10-09  2015     10   1274.00
3     1000006  36      F  452 2015-11-04  2015     11    151.77
4     1000006  36      F  452 2016-06-01  2016      6    104.15

In [13]:
op_ip_claims = pd.merge(op_claims, ip_claims, how='outer', left_on=['RandomMbrID', 'FULL_DT'], right_on=['RandomMbrID', 'FULL_DT'])
all_claims = pd.merge(op_ip_claims, dr_claims, how='outer', left_on=['RandomMbrID', 'FULL_DT'], right_on=['RandomMbrID', 'FULL_DT'])
all_claims[list(all_claims.loc[:, 'Allw_Amt_x':])] = all_claims[list(all_claims.loc[:, 'Allw_Amt_x':])].astype(float).fillna(0)
all_claims = all_claims[(all_claims['Allw_Amt_x'] >= 0) & (all_claims['Allw_Amt_y'] >= 0) & (all_claims['Allw_Amt'] >= 0)]
all_claims['Allw_Amt_Sum'] = all_claims[['Allw_Amt_x', 'Allw_Amt_y', 'Allw_Amt']].sum(axis=1)
all_claims.drop(['Allw_Amt_x', 'Allw_Amt_y', 'Allw_Amt'], axis=1, inplace=True)
all_claims['Month'] = all_claims['FULL_DT'].astype(str).str[5:7]

def quarter(row):
    if row['Month'] == '01' or row['Month'] =='02' or row['Month'] == '03':
        return 1
    elif row['Month'] == '04' or row['Month'] =='05' or row['Month'] == '06':
        return 2
    elif row['Month'] == '07' or row['Month'] =='08' or row['Month'] == '09':
        return 3
    elif row['Month'] == '10' or row['Month'] =='11' or row['Month'] == '12':
        return 4

all_claims['Quarter'] = all_claims.apply(lambda row : quarter(row), axis=1)
all_claims.head()

  RandomMbrID     FULL_DT  Allw_Amt_Sum Month  Quarter
0     1000006  2015-01-11        100.00    01        1
1     1000006  2015-01-11        742.22    01        1
2     1000006  2015-01-11         11.32    01        1
3     1000006  2015-10-09        535.00    10        4
4     1000006  2015-10-09        739.00    10        4

In [14]:
members_claims = pd.merge(members, all_claims, how='inner', left_on='RandomMbrID', right_on='RandomMbrID')
members_claims.head()

  RandomMbrID Age Zip3     FULL_DT  Allw_Amt_Sum Month  Quarter
0         655  63  430  2015-05-04        160.00    05        2
1         655  63  430  2015-01-14        152.35    01        1
2         655  63  430  2015-07-29        102.94    07        3
3          88  77  430  2015-02-23        121.00    02        1
4      886741  54  453  2015-03-24         59.59    03        1

In [15]:
members_claims['Age'].astype(int).describe()

count    85217.000000
mean        46.710645
std         18.994989
min          2.000000
25%         35.000000
50%         53.000000
75%         61.000000
max         99.000000
Name: Age, dtype: float64

In [16]:
members_zip_month = members_claims.groupby(['Zip3', 'Month'], sort=True, as_index=False).mean()
members_zip_month

    Zip3 Month  Allw_Amt_Sum  Quarter
0    430    01    174.395785        1
1    430    02    171.803054        1
2    430    03    305.340378        1
3    430    04    168.858524        2
4    430    05    409.296633        2
5    430    06    356.146359        2
6    430    07    308.424199        3
7    430    08    349.937354        3
8    430    09    252.669201        3
9    430    10    285.827805        4
10   430    11    380.867778        4
11   430    12    505.687541        4
12   431    01    364.655031        1
13   431    02    129.690659        1
14   431    03    310.786685        1
15   431    04    162.728580        2
16   431    05    162.685123        2
17   431    06    405.031745        2
18   431    07    193.155602        3
19   431    08    169.751098        3
20   431    09    559.443326        3
21   431    10    293.398439        4
22   431    11    207.920457        4
23   431    12    232.554151        4
24   432    01    428.850872        1
25   432    02    468.493642        1
26   432    03    312.460692        1
27   432    04    629.655414        2
28   432    05    419.920791        2
29   432    06    268.836220        2
..   ...   ...           ...      ...
317  456    07    160.706199        3
318  456    08    122.348083        3
319  456    09    396.512218        3
320  456    10   2948.686400        4
321  456    11    293.766800        4
322  456    12   2514.442460        4
323  457    01    125.934138        1
324  457    02    592.029077        1
325  457    03    342.119077        1
326  457    04    260.005970        2
327  457    05    189.975455        2
328  457    06    122.893947        2
329  457    07    388.890921        3
330  457    08   1467.666413        3
331  457    09     58.596400        3
332  457    10    576.862254        4
333  457    11    103.659250        4
334  457    12    196.905122        4
335  458    01    379.271009        1
336  458    02    655.504710        1
337  458    03    436.441586        1
338  458    04    508.108143        2
339  458    05    158.359604        2
340  458    06    253.716032        2
341  458    07    168.863953        3
342  458    08    510.894571        3
343  458    09    180.504151        3
344  458    10    294.883580        4
345  458    11    453.220893        4
346  458    12    150.634135        4

[347 rows x 4 columns]

In [18]:
members_zip_quarter = members_claims.groupby(['Zip3', 'Quarter'], sort=True, as_index=False).mean()
members_zip_quarter

    Zip3  Quarter  Allw_Amt_Sum
0    430        1    238.382539
1    430        2    329.338145
2    430        3    299.546331
3    430        4    400.808846
4    431        1    288.437779
5    431        2    250.672842
6    431        3    368.340899
7    431        4    260.768235
8    432        1    389.743143
9    432        2    475.709705
10   432        3    377.256753
11   432        4    309.746742
12   433        1    434.647169
13   433        2    368.799216
14   433        3    367.018158
15   433        4    756.569572
16   434        1    131.500468
17   434        2    167.601782
18   434        3    121.053500
19   434        4    471.487688
20   435        1    416.532031
21   435        2    158.952872
22   435        3    142.080000
23   435        4    199.564773
24   436        1    778.936632
25   436        2    359.729149
26   436        3    372.123291
27   436        4    293.847303
28   437        1    156.760050
29   437        2    160.412799
..   ...      ...           ...
86   451        3    239.660474
87   451        4    475.454356
88   452        1    279.279564
89   452        2    243.078297
90   452        3    385.450994
91   452        4    331.301346
92   453        1    174.579656
93   453        2    236.682713
94   453        3    286.557822
95   453        4    496.039613
96   454        1    379.320100
97   454        2    513.210654
98   454        3    315.763140
99   454        4    518.304814
100  455        1    182.319861
101  455        2    187.104108
102  455        3    299.114249
103  455        4    647.988902
104  456        1    646.418994
105  456        2    547.640477
106  456        3    286.791498
107  456        4   2444.344925
108  457        1    356.765020
109  457        2    205.504058
110  457        3    975.923065
111  457        4    496.051101
112  458        1    497.663827
113  458        2    288.658120
114  458        3    316.810181
115  458        4    350.672118

[116 rows x 3 columns]

In [ ]:
members_zip_quarter.to_csv("/data/lfelicilda/impact/members_zip_quarter.csv")
members_zip_month.to_csv("/data/lfelicilda/impact/members_zip_month.csv")

In [ ]:
members_claims.to_csv("/data/lfelicilda/impact/members_claims.csv")